.nav_header{
		font-size: 12px;
		margin: 6px 0 0 5px;
	.tips{
		height: 28px;
		line-height: 28px;
		width: 60px;
		text-align: center;
		color: #9c9c9c;
	}
	li{
		float: left;
		text-align: center;
		width: 74px;
		height: 28px;
		line-height: 28px;
		display: block;
		cursor: pointer;
		margin: 0 4px;
		color: black;
		&.active{
			color: #f3af45;
			@extend .element;
			background-position: -144px -0px !important;
		}
		&:hover{
			color: rgb(219, 92, 67);
		}
	}
	.prompt{
		height: 32px;
		line-height: 32px;
		padding: 0 0 0 5px;
		color:#9c9c9c;
		.example{			
			@extend .element;
			background-position:-145px -89px !important;
			color: white;
			padding:4px 13px; 
		}
		.help{
			@extend .element;
			background-position: -140px -114px !important;
			color: white;
			padding: 4px 10px;
		}
	}
	.text-box{
		width: 790px;
		height: 264px;
		margin: 6px 0 10px 5px;
   		padding: 14px 0;
		background: #EAEAEA;
		.single{
			width: 680px;
			height: 200px;
			position: relative;
			.input_nums{
			    width: 570px;
			    height: 160px;
			    margin: 10px 0 0 10px;
			    resize: none;
			    float: left;
			}
			.clear-repeat{
				width: 83px;
				height: 20px;
				line-height: 18px;
				float: left;
				display: block;
				text-align: center;
				margin: 60px 0 0 10px;
				cursor: pointer;
				@extend .element;
				background-position:-307px -46px !important;
				&:hover{
					background-position: -307px -68px !important;
    				color: #f9f9f9;
				}
			}
			.empty{
				width: 83px;
				height: 20px;
				line-height: 18px;
				float: left;
				display: block;
				text-align: center;
				margin:30px 0 0 10px;
				cursor: pointer;
				@extend .element;
				background-position:-307px -46px !important;
				&:hover{
					background-position: -307px -68px !important;
    				color: #f9f9f9;
				}
			}
			.write_box_desc{
				clear: both;
				padding: 5px 0 10px 10px;
				display: block;
			}
		}
	}
}