.nav_tab{
	width: 805px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	background:url(./../img/tit_bg1.jpg) no-repeat ;
	background-size: 100% 100%;
	color: #fff;
	.tabtitle{
			margin:0 28px;
		li{
			width: 58px;
			height: 40px;
   			line-height: 36px;
   			text-align: center;
			float: left;
			cursor: pointer;
			&:hover{
				color: rgb(254, 208, 133);
				border-bottom: 2px solid rgb(254, 208, 133);
			}
			&.other{
				float: right;
			}
		}
	}
}