@import 'base';
@import 'grid';
@import 'right_slider';
@import 'nav_header';

.element{
	background: url(/dist/assets/img/elements.png) no-repeat;
}
.black-circle{
	@extend .element;
	width: 26px;
	height: 26px;
	line-height: 24px;
	display: inline-block;
	background-position: -30px -121px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}